body{
    margin: 0;
    background-color: #575757;
}

#local-video{
    position: relative;
    z-index: 2;
    width: 50vw;
    height: 37.5vw;
}

.back{
    width: 100vw;
    height: 4vw;
    padding: 1% 0;
}

.back_btn{
    height: 3vw;
    width: 5vw;
    font-size: 1.2rem;
    background-color: #ff4242;
    border-radius: 9%;
    border: 1px solid #444444;
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.video{
    display: flex;
    justify-content: left;
}

.head{
    display: flex;
    justify-content: right;
}