body{
    margin: 0;
    background-color: #575757;
}

video{
    width: 30vw;
    height: 22.5vw;
    background-color: #000;
}

#local-video{
    position: relative;
    z-index: 2;
}

.back{
    width: 100vw;
    height: 4vw;
    padding: 1% 0;
}

.back_btn{
    height: 50px;
    width: 100px;
    font-size: 1.2rem;
    background-color: #ff4242;
    border-radius: 9%;
    border: 1px solid #444444;
    position: absolute;
    top: 1vw;
    right: 1vw;
    transition: 0.5s;
}

.back_btn:hover{
    height: 50px;
    width: 100px;
    font-size: 1.2rem;
    background-color: #be1c1c;
    border-radius: 9%;
    border: 1px solid #444444;
    position: absolute;
    top: 1vw;
    right: 1vw;
    transition: 0.5s;
}

.video{
    display: flex;
    justify-content: left;
}

.head{
    display: flex;
    justify-content: right;
}